$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 480px;

$black: #342f38;
$yellow: #fffa4d;
$red: #f1433f;
$blue: rgba(112,183,186,1);
$gray: #808080;

$sans-serif: 'Brandon Grotesque', sans-serif;
$serif: 'abril-text', serif;