@import '_modularscale';
@import '_base';


@mixin mobile {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

@include mobile {
	html {
		font-size:18px;
	}

	h1 {
		font-size:ms(4);
	}

	.profile_pic {
		width: ms(9);
		height:ms(9);
	}

	.container {
		padding-left:1rem;
		padding-right: 1rem;
	}



	// section.currently div, section.previously div, section.experience div {
	// 	width:ms(7);
	// 	height: ms(7);
	// }

	
//closing bracket
}













