@import '_modularscale';
@import 'compass/utilities';
@import '_base';
//@import "compass/utilities/general/clearfix";

@mixin desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}


@include desktop {
	html {
		font-size: 22px;
	}

	.container {
		width:50%;
		// min-width: 45rem;
		max-width: 75rem;
	}

	h1 {
		font-size:ms(5);
	}
}
//closing bracket for desktop



section.hero_image {
	height:33%;
	background:#f2f2f2;
}

.container {
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding-bottom:ms(7);
}

p.description {
	text-align: center;
}

section.content_block {
	text-align:center;
	display:block;

}

h3 {
	text-align: center;
	padding-top: 1rem;
}

section.experience {
	vertical-align:top;
	width:66%;
	background-color:rgba(255, 255, 255, .4);
	margin-left:auto;
	margin-right: auto;
	padding-bottom: ms(6);
	box-shadow:0 6px 13px -7px rgba(125, 125, 125, 0.5);


	a {
		width:ms(7);
		height:ms(7);
		margin-left:auto;
		margin-right:auto;
		background:#f2f2f2;
		border-radius:100px;
		margin-top: 2rem;
		display: block;

		&:hover {
			background: #ababab;
		}
	}
}

section.contact {
	padding-top:ms(2);
	padding-bottom: ms(2);
	clear:both;
	// width:20rem;
	margin-right: auto;
	margin-left: auto;

	a {
		display:inline-block;
		margin-left:1rem;
		margin-right:1rem;
		width:ms(4);
		height:ms(4);
		//float:left;
		//display: block;
		background:#f2f2f2;
		border-radius:100px;

		&:hover {
			background: #ababab;
		}

		// &.twitter {
		// 	margin-left: auto;
		// 	margin-right: auto;
		// }
	}

	& {
		@include clearfix;
	}
}

section.blog {
	//width:$ms17;
}

.about {
	h1 {
		text-align:center;
	}
}

.profile_pic {
	width:ms(9);
	height:ms(9);
	border-radius:380px;
	background:url(/images/bio_pic_20150224.png) 50% -2px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-7rem;
	box-shadow:0 3px  3px rgba(125, 125, 125, .5);
	display:block;
}