@import 'modular-scale'
@import "compass/utilities"
@import '_base'

html, p
	font-family: $serif
	font-weight: 200
	line-height: 1.618em
	color: $gray

	&::selection
		color: $yellow
		background-color: $red

h1, .site_h1
	font-size: ms(12)
	font-family: $serif
	font-weight: 700
	font-style: italic
	line-height: 1.618
	letter-spacing: -.5pt
	color: $black

h2, .site_h2
	font-size: ms(9)
	font-weight: 700
	font-style: italic
	line-height: 1.618
	font-family: $sans-serif
	color: $black
	letter-spacing: -.25pt

h3, .site_h3
	font-style: italic
	font-weight: 500
	font-size: ms(4)
	text-transform: uppercase
	font-family: $sans-serif
	line-height: 1em

.caption
	font-style: ms(9)
	font-weight: 400
	font-family: $sans-serif
	color: $gray

.subhead
	font-size: ms(9)
	font-weight: 400
	font-style: italic
	line-height: 1.618
	font-family: $sans-serif
	color: $blue
	letter-spacing: -.25pt

.storyline
	font-size: ms(9)
	font-family: $sans-serif
	font-weight: 100
	font-style: italic
	color: $black
	line-height: 1.618em

.link
	font-style: italic
	font-weight: 200
	color: $blue