html {
  font-size: 20px;
  font-family: "source-serif-pro",serif;
  font-weight: 300;
  color: rgba(42,26,47,.98);
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;  
}

div.splash {
  background-color:white;
  height: 100vh;
  background-image: url('imgs/splash-bkgd.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  width: 36%;
  position: fixed;
}

div.right {
  padding-left: calc(36% + 6rem);
  padding-bottom: 40vh;
  padding-right: 8rem;
  padding-top: 46vh;  
}

div.right p {
  padding-left: 1.25rem;
  padding-bottom: .75rem;
  color: rgba(74,74,74,.8);
  max-width: 35rem;
}

h1 {
  font-size: 12.125rem;
  font-family: "brandon-grotesque";
  font-weight: 100;
  line-height: 11.5rem;
  letter-spacing: -.75rem;
  background: -webkit-linear-gradient(rgba(250,217,97,.46),rgba(247,107,28,.56));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: block;
  width: 400px;
}

h1 span {
  display: block;
}

h1 span.last-name {
  margin-top: -4.5rem;
}

h2 {
  font-size: 1rem;
  padding-bottom: 2rem;
  display: block;
  padding-left: 1.25rem;
  margin-top: -1rem;
  color: rgba(39, 29, 29, .78);
  font-weight: 900;
}

.contact {
  margin-top: 11rem;
  padding-left: 1.25rem;
  font-weight: 700;
}

.contact a {
  color: #B1795D;
}