@media all and (max-width: 480px) {
  /* line 5, ../sass/phone.scss */
  html {
    font-size: 1.61803rem;
  }

  /* line 9, ../sass/phone.scss */
  h1 {
    font-size: 5rem;
  }

  /* line 13, ../sass/phone.scss */
  .container {
    width: 34.27051rem;
  }

  /* line 17, ../sass/phone.scss */
  section.currently, section.previously, section.experience {
    width: 17%;
  }
  /* line 20, ../sass/phone.scss */
  section.currently div, section.previously div, section.experience div {
    width: 6.8541rem;
    height: 6.8541rem;
  }

  /* line 26, ../sass/phone.scss */
  .profile_pic {
    width: 13.09017rem;
    height: 13.09017rem;
  }

  /* line 31, ../sass/phone.scss */
  section.content_block {
    width: 5rem;
  }
}
