/* line 5, ../sass/typography.sass */
html, p {
  font-family: "abril-text", serif;
  font-weight: 200;
  line-height: 1.618em;
  color: #808080;
}
/* line 11, ../sass/typography.sass */
html::selection, p::selection {
  color: #fffa4d;
  background-color: #f1433f;
}

/* line 15, ../sass/typography.sass */
h1, .site_h1 {
  font-size: 321.99692em;
  font-family: "abril-text", serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1.618;
  letter-spacing: -0.5pt;
  color: #342f38;
}

/* line 24, ../sass/typography.sass */
h2, .site_h2 {
  font-size: 76.01316em;
  font-weight: 700;
  font-style: italic;
  line-height: 1.618;
  font-family: "Brandon Grotesque", sans-serif;
  color: #342f38;
  letter-spacing: -0.25pt;
}

/* line 33, ../sass/typography.sass */
h3, .site_h3 {
  font-style: italic;
  font-weight: 500;
  font-size: 6.8541em;
  text-transform: uppercase;
  font-family: "Brandon Grotesque", sans-serif;
  line-height: 1em;
}

/* line 41, ../sass/typography.sass */
.caption {
  font-style: 76.01316em;
  font-weight: 400;
  font-family: "Brandon Grotesque", sans-serif;
  color: #808080;
}

/* line 47, ../sass/typography.sass */
.subhead {
  font-size: 76.01316em;
  font-weight: 400;
  font-style: italic;
  line-height: 1.618;
  font-family: "Brandon Grotesque", sans-serif;
  color: #70b7ba;
  letter-spacing: -0.25pt;
}

/* line 56, ../sass/typography.sass */
.storyline {
  font-size: 76.01316em;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #342f38;
  line-height: 1.618em;
}

/* line 64, ../sass/typography.sass */
.link {
  font-style: italic;
  font-weight: 200;
  color: #70b7ba;
}
