/* line 5, ../sass/typography.sass */
html {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 200;
  line-height: 1.618em;
}

/* line 10, ../sass/typography.sass */
p {
  line-height: 1.618;
  font-family: "abril-text", serif;
  color: #808080;
}
/* line 15, ../sass/typography.sass */
p::selection {
  color: #fffa4d;
  background-color: #f1433f;
}

/* line 19, ../sass/typography.sass */
h1, .site_h1 {
  font-size: 321.99692em;
  font-family: "abril-text", serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1.618;
  letter-spacing: -0.5pt;
  color: #342f38;
}

/* line 28, ../sass/typography.sass */
h2, .site_h2 {
  font-size: 76.01316em;
  font-weight: 700;
  font-style: italic;
  line-height: 1.618;
  font-family: "Brandon Grotesque", sans-serif;
  color: #342f38;
}

/* line 36, ../sass/typography.sass */
h3, .site_h3 {
  font-style: italic;
  font-weight: 500;
  font-size: 6.8541em;
  text-transform: uppercase;
  letter-spacing: 0.5pt;
  font-family: "Brandon Grotesque", sans-serif;
}
